*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(1, 3, 12, 0.651),rgba(10, 10, 10, 0.281)),url('cronaldo.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 1%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(216, 195, 8);
    display: block;
    margin: auto;
    transition: 0.45s;
}
.nav-links ul li:hover::after{
    width: 100%
}
.text-box{
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    color: rgb(143, 122, 4);
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 13px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(143, 122, 4);
    background: rgba(143, 122, 4);
    transition: 1s;
}


nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 19px;
        color: rgb(143, 122, 4);
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: rgba(0, 0, 2, 0.815);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*--------------news-------------------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 35px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #e6dc78;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.6s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgb(17, 7, 1);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*------news----*/

.news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 55px;
}
.news-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.news-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 192, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/*---books--*/

.books{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.books-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.books-col img{
    width: 100%;
    border-radius: 10px;
}

.books-col p{
    padding: 0;
}
.books-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/*-------preview--*/

.preview{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.preview-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.preview-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.preview-col p{
    padding: 0;
}
.preview-col h3{
    margin-top: 15px;
    text-align: left;
}
.preview-col .fa{
    color: #7a860c;
}
@media(max-width: 700px){
    .preview-col img{
        margin-left: 0px;
        margin-right: 15px;
    }

}
/*---call to action---*/
.cta{
    margin: 30px auto;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.993),rgba(0, 0, 0, 0)),url('rr.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 140px 0;
}

.cta h1{
    color:#fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}



/*----footer---*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0; 
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #7a860c;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
/*---about us page----*/

.sub-headera{
    height: 50vh;
    width: 100%;
    background-image: url('boutus.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.gold-btn{
    border: 1px solid #7a860c;
    background: transparent;
    color:rgb(216, 195, 8);
}

.gold-btn:hover{
    color:#fff;
}
/*------Our news----*/
.sub-headerb{
    height: 50vh;
    width: 100%;
    background-image: url('news.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
/*---blog---*/
.sub-headerc{
    height: 50vh;
    width: 100%;
    background-image: url('web.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
/*--blog-content--*/
.video{
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 35px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.video-col{
    flex-basis: 31%;
    background: #e6dc78;
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.6s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.video-col:hover{
    box-shadow: 0 0 20px 0px rgb(17, 7, 1);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.video{
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.video-col{
    flex-basis: 31%;
    background: #e6dc78;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.6s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.video-col:hover{
    box-shadow: 0 0 20px 0px rgb(17, 7, 1);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 50%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: o;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #acaf0b;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box; 
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button{
    margin: 10px 0;
} 

@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}
/*----contact---*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: url('contact.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
/*----contact us page---*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #7a860c;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: o;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color:#555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.sub-headerd{
    height: 50vh;
    width: 100%;
    background-image: url('law.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-headerd h1{
    font-size: 120px;
}
@media(max-width:600px){
    .sub-headerd h1{
        font-size: 24px;
    }
    /*.books-col{
        position: absolute;
    }*/
}
@media(min-width:1200px){
    .books-col img{
        width: 50%;
    }
}
.sub-headere{
    height: 50vh;
    width: 100%;
    background-image: url('asp.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-headere h1{
    font-size: 120px;
}
@media(max-width:600px){
    .sub-headere h1{
        font-size: 24px;
    }
    /*.book-col{
        position: absolute;
    }*/
}
@media(min-width:1200px){
    .books-col img{
        width: 50%;
    }
}

.sub-headerf{
    height: 105vh;
    width: 100%;
    background-image: url('novelset.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-headeri{
    height: 50vh;
    width: 100%;
    background-image: url('aboutking.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.abou-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.abou-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.abou-col img{
    height: 80vh;
    width: 70%;
}

.abou-col h1{
    padding-top: 0;
}
.abou-col p{
    padding: 15px 0 25px;
}

.gold-btn{
    border: 1px solid #7a860c;
    background: transparent;
    color:rgb(216, 195, 8);
}

.gold-btn:hover{
    color:#fff;
}









